@use 'shared-style.scss' as ss;

* {
  margin: 0px;
  padding: 0px;
  line-height: 1.6em;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

// .App_Offcanvas_Header {
//   background-color: ss.$sidebar-background-color;
// }

// .App_Offcanvas_Title {
//   margin-bottom: -30px;
//   display: flex;
//   justify-content: center;
//   width: 343px;
//   font-size: 1.6em;
// }

// .App_Offcanvas_Body {
//   background-color: ss.$sidebar-background-color;
// }
