@use 'shared-style' as ss;

.Footer {
    background-color: ss.$less-black;
    padding: 5px;
    color: ss.$primary-text-color-light;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    .Footer_Menu {
        padding-left: 10px;
    }
    .Footer_Social {
        padding-top: 10px;
        width: 250px;
        .icon {
            margin: 20px
        }
    }
}

