@use 'shared-style' as ss;

.Header {
    padding: 5px;
    background-color: ss.$primary-color;
    display: flex;
    justify-content: space-between;
    .Header_Title {
        display: flex;
        align-items: center;
        background-color: ss.$primary-color;
        font-size: 200%;
    }
    .Header_Hamburger {
        cursor: pointer;
        margin-left: 5px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        width: 40px;
    }
    .Header_Cart {
        padding-right: 10px;
        padding-top: 7px;
        display: inline-block;
        cursor: pointer;
    }
}
