// Dimensions
$main-content-width: 960px;

// Primary colors
$primary-color: rgb(155, 195, 220);
$primary-color-dark:rgb(86, 152, 195);

// Whites
$white:white;
$dark-white: whitesmoke;
$darker-white: rgb(199, 199, 199);

// Grays
$gray: gray;
$dark-gray: rgb(104, 104, 104);
$darker-gray: rgb(88, 88, 88);

// Blacks
$black: black;
$less-black: rgb(24, 24, 24);
$lesser-black: rgb(43, 43, 43);

// Contextual colors
$primary-text-color: $black;
$primary-text-color-light: $white;
$sidebar-background-color: $white;
$sidebar-link-background-color: $white;
$sidebar-content-color: $primary-color;
$sidebar-hover-color: $primary-color-dark;
$main-content-side-color: $white;
$main-content-background-color: $dark-white;

// 
// Style
// 

html {
    background-color: $black;
}

.Product_Font {
    font-family: 'Questrial', sans-serif;
}

.Center_Content {
    margin: auto; 
    background-color: $main-content-background-color;
    max-width: $main-content-width;
    border-left: 1px solid $darker-white;
    border-right:1px solid $darker-white;
}

.Center_Item {
    display: flex;
    justify-content: center;
}

// Hide scrollbars.
::-webkit-scrollbar {
    width: 0;  
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: $black;
}
  
// Disable user select.
// -webkit-user-select: none; /* Safari */
// -ms-user-select: none; /* IE 10 and IE 11 */
// user-select: none; /* Standard syntax */

// If the screen size is 600px wide or less, change the font size.
// @media screen and (max-width: 600px) {
//    PARENT > .HomePage_Band_Header {
//        font-size: 30px;
//    }
// } 

