@use 'shared-style.scss' as ss;

.Sidebar_canvas_Header {
    background-color: ss.$sidebar-background-color;
}
.Sidebar_Offcanvas_Title {
    margin-bottom: -30px;
    display: flex;
    justify-content: center;
    width: 343px;
    font-size: 1.6em;
}
.Sidebar_Offcanvas_Body {
    background-color: ss.$sidebar-background-color;
}
.Sidebar_Offcanvas_Title {
    margin-bottom: -30px;
    display: flex;
    justify-content: center;
    width: 343px;
    font-size: 1.6em;
}
