@use 'shared-style' as ss;

.SidebarNav {
    border-radius: 5px;
    background-color: ss.$primary-color;
    padding: 2px;
    margin-bottom: -12px;
    .SidebarNav_LinkContainer {
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 5px;
        .SidebarNav_Link {
            background-color: ss.$sidebar-link-background-color;
            text-decoration: none;
            color: ss.$primary-text-color;
            padding: 15px;
            border-radius: 5px;
            padding-right: 273px;
            background-repeat: no-repeat, no-repeat;
            background-position: 300px; // nudge the icon over to the right.
        }
        .SidebarNav_Link:hover {
            background-color: ss.$sidebar-hover-color;
            color:  ss.$white;
        }
    }

    // If the screen size is 600px wide or less, increase font size.
    @media screen and (max-width: 600px) {
        .SidebarNav_LinkContainer > .SidebarNav_Link {
            font-size: 1.3em;
            padding-right: 258px;
        }
    } 
}
