.SidebarOrder {
    padding-bottom: 10px;
    .SidebarOrder_Checkout {
        display: flex;
        justify-content: center;
    }

    // If the screen size is 600px wide or less, increase font size.
    @media screen and (max-width: 600px) {
        .SidebarOrder_Checkout > Button {
            font-size: 1.3em;
        }
    } 
}
