.UsersTable {
    background-color: lightgray;
    table {
        tbody{
            tr {
                td {
                    border: 1px solid white;
                    padding: 5px; 
                }
            }
        }
    }
}
